//background colors
$bgc-color-gray: #D9D9D9;
$bgc-color-white: #FFFFFF;
$bgc-color-warmgray: #C2BABA;

//button colors
$btn-color-blue: #071594;
$btn-color-green: #35660E;
$btn-color-army: #40483A;

//border colors
$border-color-black: #000000;

//text colors
$text-color-black: #000000;
$text-color-red: #FF0000;
$text-color-white: #FFFFFF;

//line heights
$line-height-big: 165%;
$line-height-normal: 100%;